<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Center Feeds</title>
  <link rel="stylesheet" href="css/bootstrap.css"  >
  <link rel="stylesheet" href="css/font-awesome.min.css" >
  <link rel="stylesheet" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


  <body>
    <header style="background-color: black; background-image: none;">
      <div class="container">

        <nav class="navbar navbar-dark navbar-expand-lg justify-content-between py-3 sticky">
          <div class="brand">

            <a href="index.html" class="navbar-brand mr-0">Event-Manager</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse dual-nav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="centerfeeds.html">Explore Centers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="events.html">Upcoming Events</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">Login</a>
                  </li>&nbsp;&nbsp;&nbsp;
                  <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#signUpModal">Sign Up</a>
                  </li>
            </ul>
          </div>
        </nav>



      </div>

    </header>

    <main>


      <section class="section extra-margins text-center text-lg-left container">


        <h2 class="display-4 text-center">Available Centers for hire</h2>

        <p class="section-description">This contains a list of all our event centers within and outside Lagos.</p>
        <section class="container search">
          <div class="row">
            <div class="col">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search for centers using keywords">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Search</button>
                </span>
              </div>
            </div>
          </div>
        </section>

        <hr>
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="view overlay hm-white-slight z-depth-1">
              <img src="img/place1.jpg" alt="First sample image">
              <a>
                <div class="mask"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-7 mb-4">
            <h4 class="mb-4 text-primary">
              <strong>Ventures Park</strong>
            </h4>
            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
              facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis aut rerum.</p>
            <p><i class="fa fa-users" aria-hidden="true"></i> 
              <a>
                <strong><span>500</span>&nbsp;People</strong>
              </a></p>
            <a class="btn btn-outline-info" href="centerdetails.html">
              More Details</a>
          </div>
        </div>


        <hr class="mb-5">

        <div class="row mt-3">
            <div class="col-lg-4 mb-4">
            <div class="view overlay hm-white-slight z-depth-1">
              <img src="img/place2.jpg" alt="Second sample image">
              <a>
                <div class="mask"></div>
              </a>
            </div>
          </div>

          <div class="col-lg-7 mb-4">
            <h4 class="mb-4 text-primary">
              <strong>Hotels.ng Space</strong>
            </h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
              corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident et dolorum fuga.</p>
              <p><i class="fa fa-users" aria-hidden="true"></i>
                <a>
                  <strong><span>2000</span>&nbsp;People</strong>
                </a></p>
              <a class="btn btn-outline-info" href="centerdetails.html">
                More Details</a>
          </div>
        </div>


        <hr class="mb-5">


        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="view overlay hm-white-slight z-depth-1">
              <img src="img/place3.jpg" alt="Third sample image">
              <a>
                <div class="mask"></div>
              </a>
            </div>
          </div>

          <div class="col-lg-7">
            <h4 class="mb-4 text-primary">
              <strong>EPIC Tower</strong>
            </h4>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
              consectetur.
            </p>
            <p><i class="fa fa-users" aria-hidden="true"></i>
                <a>
                  <strong><span>10,000</span>&nbsp;People</strong>
                </a></p>
              <a class="btn btn-outline-info" href="centerdetails.html">
                More Details</a>
          </div>
        </div>
        <hr class="mb-5">
        <div class="row mt-3">
            <div class="col-lg-4 mb-4">
            <div class="view overlay hm-white-slight z-depth-1">
              <img src="img/place.jpg" alt="Second sample image">
              <a>
                <div class="mask"></div>
              </a>
            </div>
          </div>

          <div class="col-lg-7 mb-4">
            <h4 class="mb-4 text-primary">
              <strong>Aiivon Hub</strong>
            </h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
              corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident et dolorum fuga.</p>
              <p><i class="fa fa-users" aria-hidden="true"></i>
                <a>
                  <strong><span>200</span>&nbsp;People</strong>
                </a></p>
              <a class="btn btn-outline-info" href="centerdetails.html">
                More Details</a>
          </div>
        </div>

        <hr>
         <!-- Start of Pagination -->
         <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <span class="page-link">
                  2
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
          <!--End of Pagination -->

      </section>
      

    </main>


    <footer>
      <div class="container ">
        <div class="row">
          <div class="col">
            <p class="text-center">&#169; 2017, All rights reserved. <br><a href="index.html">Events Manager</a></p>
          </div>
        </div>

      </div>
    </footer>
    <script src="js/jquery.min.js" ></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>
    
<!-- login MODAL -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label for="UserName">Username</label>
            <input type="name" class="form-control" placeholder="Name">
          </div>
          
          <div class="form-group">
              <label for="password">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Signup modal ends here -->



  <!-- Signup MODAL -->
  <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
                <label for="Name">Name</label>
              <input type="name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
              <input type="name" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email address">Email Address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="confirm password">Confirm Password</label>
              <input type="password" class="form-control" placeholder="Re-enter Password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Signup modal ends here -->

  </body>

</html>