<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Events feed</title>
  <link rel="stylesheet" href="css/bootstrap.css"  >
  <link rel="stylesheet" href="css/font-awesome.min.css" >
  <link rel="stylesheet" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


  <body>
    <header style="background-color: black; background-image: none;">
      <div class="container">

          <nav class="navbar navbar-dark navbar-expand-lg justify-content-between py-3 sticky">
              <div class="brand">
    
                <a href="index.html" class="navbar-brand mr-0"><img src="img/logo.png"></a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
              </button>
    
    
              <div class="navbar-collapse collapse dual-nav">
                  <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="centerfeeds.html">Explore Centers</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="events.html">Upcoming Events</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="signup.html">Register</a>
                  </li>
                    </ul>
              </div>
            </nav>



      </div>

    </header>

    <section class="container search">
      <div class="row">
        <div class="col">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search for your events">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Search</button>
            </span>
          </div>
        </div>
      </div>
    </section>

    <section class="container title">
        <h3>Upcoming Events</h3>
        <hr/>
      </section>
  
      <!-- Upcoming Events Section -->
      <!-- ======================= -->
      <section class="container event">
  
        <div class="row card-deck">
          <div class="col-md-4">
            <div class="card">
              <div class="view overlay hm-white-slight">
                <img class="card-img-top" src="img/tech.jpg" class="img-fluid" alt="">
              </div>
              <div class="card-body">
                <a href="#">
                  <h4 class="card-title">forLoop Nigeria Meetup</h4>
                  <hr/>
                </a>
                <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                  lssumr.
                </p>
  
                <p class="author">Location
                  <span>Musun Center</span>
                </p>
                <div class="seeButton">
                 
                  <a href="eventdetails.html" class="btn btn-outline-info">More details</a>
                </div>
              </div>
        
              <div class="card-data">
                <ul align="center">
                  <li>
                     05/10/2017
                  <li>
                </ul>
              </div>
  
            </div>
            <!--/.Card-->
  
          </div>
  
          <div class="col-md-4"> 
              <div class="card">
                  <div class="view overlay hm-white-slight">
                    <img class="card-img-top" src="img/braz.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="card-body">
                    <a href="#">
                      <h4 class="card-title">Brazillian Festival</h4>
                      <hr/>
                    </a>
                    <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                      lssumr.
                    </p>
      
                    <p class="author">Location
                  <span>Lagos Beach</span>
                </p>
                <div class="seeButton">
                    <a href="eventdetails.html" class="btn btn-outline-info">More details</a>
                </div>
              </div>
                  <div class="card-data">
                    <ul>
                      <li>
                     05/10/2017
                      <li>
                    </ul>
                  </div>
                </div>
  
          </div>
          <!-- Card -->
  
          <div class="col-md-4">
              <div class="card">
                  <div class="view overlay hm-white-slight">
                    <img class="card-img-top" src="img/cocktail.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="card-body">
                    <a href="#">
                      <h4 class="card-title">Cocktail Party</h4>
                      <hr/>
                    </a>
                    <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                      lssumr.
                    </p>
      
                     <p class="author">Location
                  <span>EPIC Tower</span>
                </p>
                     <div class="seeButton">
                        <a href="eventdetails.html" class="btn btn-outline-info">More details</a>
                   </div>
                  </div>
            
                  <div class="card-data">
                    <ul>
                      <li>
                     05/10/2017
                      <li>
                    </ul>
                  </div>
      
                </div>
  
          </div>
        </div>
  
      </section>
      <!-- End of Upcoming Events -->
        <hr/>
  
      <!-- Upcoming Events Section -->
      <!-- ======================= -->
      <section class="container event">
  
        <div class="row card-deck">
          <div class="col-md-4">
            <div class="card">
              <div class="view overlay hm-white-slight">
                <img class="card-img-top" src="img/tech.jpg" class="img-fluid" alt="">
              </div>
              <div class="card-body">
                <a href="#">
                  <h4 class="card-title">forLoop Nigeria Meetup</h4>
                  <hr/>
                </a>
                <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                  lssumr.
                </p>
  
                <p class="author">Location
                  <span>Musun Center</span>
                </p>
                <div class="seeButton">
                 
                    <a href="eventdetails.html" class="btn btn-outline-info">More details</a>
                </div>
              </div>
        
              <div class="card-data">
                <ul align="center">
                  <li>
                     05/10/2017
                  <li>
                </ul>
              </div>
  
            </div>
            <!--/.Card-->
  
          </div>
  
          <div class="col-md-4"> 
              <div class="card">
                  <div class="view overlay hm-white-slight">
                    <img class="card-img-top" src="img/braz.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="card-body">
                    <a href="#">
                      <h4 class="card-title">Brazillian Festival</h4>
                      <hr/>
                    </a>
                    <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                      lssumr.
                    </p>
      
                    <p class="author">Location
                  <span>Lagos Beach</span>
                </p>
                <div class="seeButton">
                    <a href="eventdetails.html" class="btn btn-outline-info">More details</a>
                </div>
              </div>
                  <div class="card-data">
                    <ul>
                      <li>
                     05/10/2017
                      <li>
                    </ul>
                  </div>
                </div>
  
          </div>
          <!-- Card -->
  
          <div class="col-md-4">
              <div class="card">
                  <div class="view overlay hm-white-slight">
                    <img class="card-img-top" src="img/cocktail.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="card-body">
                    <a href="#">
                      <h4 class="card-title">Cocktail Party</h4>
                      <hr/>
                    </a>
                    <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                      lssumr.
                    </p>
      
                     <p class="author">Location
                  <span>EPIC Tower</span>
                </p>
                     <div class="seeButton">
                        <a href="eventdetails.html" class="btn btn-outline-info">More details</a>
                   </div>
                  </div>
            
                  <div class="card-data">
                    <ul>
                      <li>
                     05/10/2017
                      <li>
                    </ul>
                  </div>
      
                </div>
  
          </div>
        </div>

        <hr>
        <!-- Start of Pagination -->
        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <span class="page-link">
                  2
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
          <!--End of Pagination -->
      </section>
      <!-- End of Upcoming Events -->


    <footer>
      <div class="container ">
        <div class="row">
          <div class="col">
            <p class="text-center">&#169; 2017, All rights reserved. <br><a href="index.html">Events Manager</a></p>
          </div>
        </div>
        
      </div>
    </footer>
    <script src="js/jquery.min.js" ></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>

  </body>

</html>