<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Event Details</title>
  <link rel="stylesheet" href="css/bootstrap.css"  >
  <link rel="stylesheet" href="css/font-awesome.min.css" >
  <link rel="stylesheet" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="socicon/css/styles.css">
 


  <body>
    <header style="background-color: black; background-image: none;">
      <div class="container">

          <nav class="navbar navbar-dark navbar-expand-lg justify-content-between py-3 sticky">
              <div class="brand">
    
                <a href="index.html" class="navbar-brand mr-0"><img src="img/logo.png"></a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
              </button>
    
    
              <div class="navbar-collapse collapse dual-nav">
                  <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Explore Centers</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="events.html">Upcoming Events</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="signup.html">Register</a>
                  </li>
                    </ul>
              </div>
            </nav>



      </div>

    </header>

    <main>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-9">
            <div class="recipeTitle">
              <h2>Laravel Nigeria Meetup</h2><hr>
              <img class="img-fluid img-thumbnail" src="img/place.jpg"><br><br>
              <div class="author">
                Date:
                <span>12/12/2017</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Time:
                <span>10:00am</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Location:
                <span>Ventures Platform</span>
              </div>
              <hr>
              <div class="methods">
                <h3 class="display-4">Event Details</h3><br>
                <p class="lead text-justify">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi blanditiis, corporis aspernatur 
                    provident assumenda quaerat maxime dicta, harum quam eaque atque, illum consequatur earum veniam officiis ex nam amet. Dolor alias magni nulla, 
                    numquam ipsum voluptatem dicta dolorum iure itaque! Repellendus perferendis rerum quo eius quibusdam incidunt, culpa nam iusto!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi blanditiis, corporis aspernatur 
                    provident assumenda quaerat maxime dicta, harum quam eaque atque, illum consequatur earum veniam officiis ex nam amet. Dolor alias magni nulla, 
                    numquam ipsum voluptatem dicta dolorum iure itaque! Repellendus perferendis rerum quo eius quibusdam incidunt, culpa nam iusto!
                </p>
              </div>

              <div class="soc-item">Share on
                <a href="#" target="_blank">
                    <span class="socicon-twitter socicon" media-simple="true"></span>
                </a>
            </div>
            <div class="soc-item">Share on
                <a href="#" target="_blank">
                    <span class="socicon-facebook socicon" media-simple="true"></span>
                </a>
            </div>
            </div>
          </div>

          </div>
      </div>


    </main>




    <footer>
      <div class="container ">
        <div class="row">
          <div class="col">
            <p class="text-center">&#169; 2017, All rights reserved. <br><a href="index.html">Events Manager</a></p>
          </div>
        </div>
        
      </div>
    </footer>
    <script src="js/jquery.min.js" ></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>

  </body>

</html>