<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
  <link rel="stylesheet" href="css/bootstrap.css"  >
  <link rel="stylesheet" href="css/font-awesome.min.css" >
  <link rel="stylesheet" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


  <body>
    <header style="background-color: black; background-image: none;">
      <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg justify-content-between py-3 sticky">
          <div class="brand">

            <a href="index.html" class="navbar-brand mr-0"><img src="logo.png"></a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="navbar-collapse collapse dual-nav">
              <ul class="nav navbar-nav ml-auto">
                  <li class="nav-item">
                        <a class="nav-link" href="#">Explore Centers</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Upcoming Events</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="signup.html">Register</a>
                  </li>
                </ul>
          </div>
        </nav>



      </div>

    </header>
    <div class="main" style="margin-top: -80px;">
      <div class="row justify-content-md-center">
        <div class="col-md-8 col-lg-6 col-12">
          <div class="registeration text-center">
            <h2>Register</h2><hr>
            <form>
              <div class="form-group">
                <input type="name" class="form-control" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
              </div>
              
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>

              <div class="form-group">
                <input type="password" class="form-control" placeholder="Re-enter Password">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Create Account</button>
            </form><hr>
            <div class="form-header">
              <p>Already have an account?
                <span><a href="login.html">Sign In</a></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <footer>
      <div class="container ">
        <div class="row">
          <div class="col">
            <p class="text-center">&#169; 2017, All rights reserved. <br><a href="index.html">Events Manager</a></p>
          </div>
        </div>

      </div>
    </footer>
     <script src="js/jquery.min.js" ></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>

  </body>

</html>